/*
 * Compiled Artex UI Kit source code. Will be replaced with actual scss later.
 */

@import "https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap";
@import "https://fonts.googleapis.com/css?family=Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i&display=swap";
@import "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap-grid.min.css";
@import "https://cdn.jsdelivr.net/npm/bootstrap-utilities@4.1.3/bootstrap-utilities.css";

@media screen and (min-width: 576px) {
    #billing-mobile {
        height: calc(100vh - 65px);
    }
}

#files {
    height: calc(100vh - 130px);
    overflow-y: auto;
}

.context-display {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

#upload-text material-icon i {
    font-size: 1.5em !important;
}

// End of Rubba's stuff


.alert {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 18px 24px;
    background-color: white;
    border-left: 4px solid #242a31; }
.alert p.icon {
    margin-right: 24px;
    font-size: 1.15rem;
    line-height: 1.15rem;
    color: #242a31; }
.alert p.description {
    color: #242a31;
    font-size: 0.875rem;
    line-height: 0.875rem;
    flex-grow: 1; }
.alert ul.menu.menu-icons {
    margin-left: 24px; }
.alert.alert-primary {
    border-color: #3884ff; }
.alert.alert-primary p.icon i {
    color: #3884ff; }
.alert.alert-secondary {
    border-color: #8e2de2; }
.alert.alert-secondary p.icon i {
    color: #8e2de2; }
.alert.alert-success {
    border-color: #26cb7c; }
.alert.alert-success p.icon i {
    color: #26cb7c; }
.alert.alert-warning {
    border-color: #ffd139; }
.alert.alert-warning p.icon i {
    color: #ffd139; }
.alert.alert-danger {
    border-color: #ff4642; }
.alert.alert-danger p.icon i {
    color: #ff4642; }

.button {
    display: inline-block;
    cursor: pointer;
    transition: all 100ms ease-in-out; }
.button.button-shadow {
    background-color: #242a31;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
    font-weight: 700;
    color: white;
    font-size: 1.425rem;
    padding: 20px 30px; }
.button.button-shadow:hover {
    transform: translateY(-1px); }
.button.button-shadow.button-invert {
    background-color: white;
    box-shadow: 5px 5px rgba(255, 255, 255, 0.75);
    color: #242a31; }
.button.button-shadow.button-primary {
    background-color: #3884ff;
    box-shadow: 5px 5px rgba(56, 132, 255, 0.5); }
.button.button-shadow.button-secondary {
    background-color: #8e2de2;
    box-shadow: 5px 5px rgba(142, 45, 226, 0.5); }
.button.button-shadow.button-success {
    background-color: #26cb7c;
    box-shadow: 5px 5px rgba(38, 203, 124, 0.5); }
.button.button-shadow.button-warning {
    background-color: #ffd139;
    box-shadow: 5px 5px rgba(255, 209, 57, 0.5); }
.button.button-shadow.button-danger {
    background-color: #ff4642;
    box-shadow: 5px 5px rgba(255, 70, 66, 0.5); }
.button.button-outline {
    padding: 10px 15px;
    border-style: solid;
    border-width: 1px;
    border-color: #242a31;
    color: #242a31;
    font-size: 0.875rem;
    background-color: transparent; }
.button.button-outline:hover {
    opacity: 0.5; }
.button.button-outline.button-invert {
    border-color: white;
    color: white; }
.button.button-outline.button-primary {
    border-color: #3884ff;
    color: #3884ff; }
.button.button-outline.button-secondary {
    border-color: #8e2de2;
    color: #8e2de2; }
.button.button-outline.button-success {
    border-color: #26cb7c;
    color: #26cb7c; }
.button.button-outline.button-warning {
    border-color: #ffd139;
    color: #ffd139; }
.button.button-outline.button-danger {
    border-color: #ff4642;
    color: #ff4642; }

.card {
    background-color: white;
    padding: 18px 24px;
    transition: all 100ms ease-in-out; }
.card h2.heading {
    color: #242a31;
    font-size: 1.425rem;
    line-height: 1.425rem;
    font-weight: 700;
    margin-bottom: 16px; }
.card h2.heading, .card p {
    transition: all 100ms ease-in-out; }
.card p {
    font-size: 0.875rem;
    color: #242a31; }
.card > p {
    line-height: 1.15rem; }
.card > img:first-child {
    width: calc(100% + 60px);
    margin: -20px -30px 20px -30px; }
.card .card-header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px; }
.card .card-header h2.heading {
    margin-bottom: 0; }
.card .card-header ul.menu.menu-small li.item {
    margin-left: 16px; }
.card.card-hover:hover {
    cursor: pointer; }
.card.card-hover p.icon {
    line-height: 0.875rem; }
.card.card-hover p.icon i {
    margin-left: 16px; }
.card.card-border {
    border-style: solid;
    border-width: 1px;
    border-color: #d4dadf; }
.card.card-border.card-primary {
    border-color: #3884ff; }
.card.card-border.card-secondary {
    border-color: #8e2de2; }
.card.card-border.card-success {
    border-color: #26cb7c; }
.card.card-border.card-warning {
    border-color: #ffd139; }
.card.card-border.card-danger {
    border-color: #ff4642; }
.card.card-border-top {
    border-top-style: solid;
    border-top-width: 4px;
    border-top-color: #242a31; }
.card.card-border-top.card-primary {
    border-top-color: #3884ff; }
.card.card-border-top.card-secondary {
    border-top-color: #8e2de2; }
.card.card-border-top.card-success {
    border-top-color: #26cb7c; }
.card.card-border-top.card-warning {
    border-top-color: #ffd139; }
.card.card-border-top.card-danger {
    border-top-color: #ff4642; }
.card.card-border-left {
    border-left-style: solid;
    border-left-width: 4px;
    border-left-color: #242a31; }
.card.card-border-left.card-primary {
    border-left-color: #3884ff; }
.card.card-border-left.card-secondary {
    border-left-color: #8e2de2; }
.card.card-border-left.card-success {
    border-left-color: #26cb7c; }
.card.card-border-left.card-warning {
    border-left-color: #ffd139; }
.card.card-border-left.card-danger {
    border-left-color: #ff4642; }
.card.card-border-top.card-hover:hover h2.heading, .card.card-border-left.card-hover:hover h2.heading, .card.card-border.card-hover:hover h2.heading {
    opacity: 0.5; }
.card.card-border-top.card-primary.card-hover:hover h2.heading, .card.card-border-left.card-primary.card-hover:hover h2.heading, .card.card-border.card-primary.card-hover:hover h2.heading {
    color: #3884ff;
    opacity: 1; }
.card.card-border-top.card-secondary.card-hover:hover h2.heading, .card.card-border-left.card-secondary.card-hover:hover h2.heading, .card.card-border.card-secondary.card-hover:hover h2.heading {
    color: #8e2de2;
    opacity: 1; }
.card.card-border-top.card-success.card-hover:hover h2.heading, .card.card-border-left.card-success.card-hover:hover h2.heading, .card.card-border.card-success.card-hover:hover h2.heading {
    color: #26cb7c;
    opacity: 1; }
.card.card-border-top.card-warning.card-hover:hover h2.heading, .card.card-border-left.card-warning.card-hover:hover h2.heading, .card.card-border.card-warning.card-hover:hover h2.heading {
    color: #ffd139;
    opacity: 1; }
.card.card-border-top.card-danger.card-hover:hover h2.heading, .card.card-border-left.card-danger.card-hover:hover h2.heading, .card.card-border.card-danger.card-hover:hover h2.heading {
    color: #ff4642;
    opacity: 1; }
.card.card-simple {
    background-color: #242a31; }
.card.card-simple h2.heading, .card.card-simple p {
    color: white; }
.card.card-simple.card-primary {
    background-color: #3884ff; }
.card.card-simple.card-secondary {
    background-color: #8e2de2; }
.card.card-simple.card-success {
    background-color: #26cb7c; }
.card.card-simple.card-warning {
    background-color: #ffd139; }
.card.card-simple.card-danger {
    background-color: #ff4642; }
.card.card-simple:hover {
    background-color: white; }
.card.card-simple:hover h2.heading, .card.card-simple:hover p {
    color: #242a31; }
.card.card-plain.card-hover:hover {
    background-color: #242a31; }
.card.card-plain.card-hover:hover h2.heading, .card.card-plain.card-hover:hover p {
    color: white; }
.card.card-plain.card-hover:hover.card-primary {
    background-color: #3884ff; }
.card.card-plain.card-hover:hover.card-secondary {
    background-color: #8e2de2; }
.card.card-plain.card-hover:hover.card-success {
    background-color: #26cb7c; }
.card.card-plain.card-hover:hover.card-warning {
    background-color: #ffd139; }
.card.card-plain.card-hover:hover.card-danger {
    background-color: #ff4642; }

.footer {
    background-color: white;
    border-top: 1px solid #d4dadf;
    padding: 64px 0; }
.footer .company {
    text-align: center;
    height: 100%; }
.footer .company .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 150%;
    opacity: 0.1; }
.footer .company .description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
.footer .company .description h3.title, .footer .company .description p.copyright {
    font-size: 0.875rem;
    color: #242a31; }
.footer .company .description h3.title {
    font-weight: 500;
    margin-bottom: 16px; }
.footer .company .description p.copyright {
    font-weight: 300; }
.footer h4.heading {
    font-weight: 700;
    color: #242a31;
    font-size: 1.425rem;
    margin-bottom: 16px; }
.footer ol.index {
    list-style-type: none; }
.footer ol.index li.reference {
    font-weight: 300;
    font-size: 0.875rem;
    color: #242a31;
    line-height: 0.875rem;
    transition: all 100ms ease-in-out; }
.footer ol.index li.reference:hover {
    opacity: 0.5;
    cursor: pointer; }
.footer ol.index li.reference:not(:last-child) {
    margin-bottom: 8px; }

nav.navigation-bar {
    z-index: 18;
    background-color: white;
    border-bottom: 1px solid #d4dadf; }
nav.navigation-bar .container, nav.navigation-bar .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center; }
nav.navigation-bar .container ul.navigation-bar-menu, nav.navigation-bar .container-fluid ul.navigation-bar-menu {
    display: flex;
    list-style-type: none;
    align-items: center; }
nav.navigation-bar .container ul.navigation-bar-menu li.menu-divide, nav.navigation-bar .container-fluid ul.navigation-bar-menu li.menu-divide {
    background-color: #d4dadf; }
nav.navigation-bar .container ul.navigation-bar-menu li.menu-item, nav.navigation-bar .container-fluid ul.navigation-bar-menu li.menu-item {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    transition: opacity 100ms ease-in-out; }
nav.navigation-bar .container ul.navigation-bar-menu li.menu-item a.item-link, nav.navigation-bar .container-fluid ul.navigation-bar-menu li.menu-item a.item-link {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 0.875rem;
    white-space: nowrap; }
nav.navigation-bar .container ul.navigation-bar-menu li.menu-item.disabled, nav.navigation-bar .container-fluid ul.navigation-bar-menu li.menu-item.disabled {
    color: #9c9c9c; }
nav.navigation-bar .container ul.navigation-bar-menu li.menu-item:not(.disabled):hover, nav.navigation-bar .container-fluid ul.navigation-bar-menu li.menu-item:not(.disabled):hover {
    opacity: 0.5;
    cursor: pointer; }
nav.navigation-bar .container ul.navigation-bar-menu.navigation-bar-menu-fill, nav.navigation-bar .container-fluid ul.navigation-bar-menu.navigation-bar-menu-fill {
    justify-content: space-evenly;
    width: 100%; }
nav.navigation-bar .container ul.navigation-bar-menu.navigation-bar-menu-scroll, nav.navigation-bar .container-fluid ul.navigation-bar-menu.navigation-bar-menu-scroll {
    overflow-x: auto; }
nav.navigation-bar .container ul.navigation-bar-menu li.menu-divide, nav.navigation-bar .container-fluid ul.navigation-bar-menu li.menu-divide {
    width: 1px;
    height: 32px;
    margin: 0 8px; }
nav.navigation-bar .container ul.navigation-bar-menu li.menu-item, nav.navigation-bar .container-fluid ul.navigation-bar-menu li.menu-item {
    height: 64px;
    padding: 0 8px; }
nav.navigation-bar .container ul.navigation-bar-menu li.menu-item a.item-link.item-link-border, nav.navigation-bar .container-fluid ul.navigation-bar-menu li.menu-item a.item-link.item-link-border {
    padding: 4px 16px;
    border: 1px solid #242a31; }
nav.navigation-bar .container ul.navigation-bar-menu li.menu-item.active, nav.navigation-bar .container-fluid ul.navigation-bar-menu li.menu-item.active {
    border-bottom: 4px solid #242a31;
    padding-top: 4px; }
nav.navigation-bar .container ul.navigation-bar-menu li.menu-item.active.active-primary, nav.navigation-bar .container-fluid ul.navigation-bar-menu li.menu-item.active.active-primary {
    border-color: #3884ff; }
nav.navigation-bar .container ul.navigation-bar-menu li.menu-item.active.active-secondary, nav.navigation-bar .container-fluid ul.navigation-bar-menu li.menu-item.active.active-secondary {
    border-color: #8e2de2; }
nav.navigation-bar .container ul.navigation-bar-menu li.menu-item.active.active-success, nav.navigation-bar .container-fluid ul.navigation-bar-menu li.menu-item.active.active-success {
    border-color: #26cb7c; }
nav.navigation-bar .container ul.navigation-bar-menu li.menu-item.active.active-warning, nav.navigation-bar .container-fluid ul.navigation-bar-menu li.menu-item.active.active-warning {
    border-color: #ffd139; }
nav.navigation-bar .container ul.navigation-bar-menu li.menu-item.active.active-danger, nav.navigation-bar .container-fluid ul.navigation-bar-menu li.menu-item.active.active-danger {
    border-color: #ff4642; }

.section {
    padding: 72px 0;
    background-color: #242a31; }
.section.section-invert {
    background-color: white; }
.section.section-primary {
    background-color: #3884ff; }
.section.section-secondary {
    background-color: #8e2de2; }
.section.section-success {
    background-color: #26cb7c; }
.section.section-warning {
    background-color: #ffd139; }
.section.section-danger {
    background-color: #ff4642; }

.link {
    color: #242a31;
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 0.875rem;
    transition: all 100ms ease-in-out; }
.link:hover {
    opacity: 0.5;
    cursor: pointer; }
.link.link-primary {
    color: #3884ff; }
.link.link-secondary {
    color: #8e2de2; }
.link.link-success {
    color: #26cb7c; }
.link.link-warning {
    color: #ffd139; }
.link.link-danger {
    color: #ff4642; }

.profile-picture {
    height: 64px;
    width: 64px;
    background-color: #f5f7f9;
    border-radius: 50%; }
.profile-picture.profile-picture-small {
    height: 32px;
    width: 32px; }
.profile-picture.profile-picture-large {
    height: 128px;
    width: 128px; }

.profile-picture-group {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse; }
.profile-picture-group > img {
    display: block;
    box-shadow: 0 0 0 4px white; }
.profile-picture-group > img:not(:first-child) {
    margin-right: -8px; }

.brand {
    font-weight: 900;
    font-size: 1.425rem;
    color: #242a31;
    line-height: 1.425rem;
    transition: all 100ms ease-in-out; }
.brand.brand-hover:hover {
    opacity: 0.5;
    cursor: pointer; }
.brand.brand-primary:not(.brand-hover), .brand.brand-primary.brand-hover:hover {
    color: #3884ff; }
.brand.brand-primary.brand-hover:hover {
    opacity: 1; }
.brand.brand-secondary:not(.brand-hover), .brand.brand-secondary.brand-hover:hover {
    color: #8e2de2; }
.brand.brand-secondary.brand-hover:hover {
    opacity: 1; }
.brand.brand-success:not(.brand-hover), .brand.brand-success.brand-hover:hover {
    color: #26cb7c; }
.brand.brand-success.brand-hover:hover {
    opacity: 1; }
.brand.brand-warning:not(.brand-hover), .brand.brand-warning.brand-hover:hover {
    color: #ffd139; }
.brand.brand-warning.brand-hover:hover {
    opacity: 1; }
.brand.brand-danger:not(.brand-hover), .brand.brand-danger.brand-hover:hover {
    color: #ff4642; }
.brand.brand-danger.brand-hover:hover {
    opacity: 1; }

.sidebar {
    z-index: 19;
    display: flex;
    flex-direction: column;
    background-color: white; }
.sidebar.sidebar-mobile {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    z-index: 21; }
.sidebar:not(.sidebar-mobile) {
    border-right: 1px solid #d4dadf; }
.sidebar ul.sidebar-menu {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    align-items: center; }
.sidebar ul.sidebar-menu li.menu-divide {
    background-color: #d4dadf; }
.sidebar ul.sidebar-menu li.menu-item {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    transition: opacity 100ms ease-in-out; }
.sidebar ul.sidebar-menu li.menu-item a.item-link {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 0.875rem;
    white-space: nowrap; }
.sidebar ul.sidebar-menu li.menu-item.disabled {
    color: #9c9c9c; }
.sidebar ul.sidebar-menu li.menu-item:not(.disabled):hover {
    opacity: 0.5;
    cursor: pointer; }
.sidebar ul.sidebar-menu li.menu-divide {
    width: calc(100% - 40px);
    height: 1px;
    margin: 8px 0; }
.sidebar ul.sidebar-menu li.menu-item {
    width: 100%;
    height: 48px;
    padding: 0 20px; }
.sidebar ul.sidebar-menu li.menu-item.active {
    border-left: 4px solid #242a31;
    padding-left: 16px; }
.sidebar ul.sidebar-menu li.menu-item.active.active-primary {
    border-color: #3884ff; }
.sidebar ul.sidebar-menu li.menu-item.active.active-secondary {
    border-color: #8e2de2; }
.sidebar ul.sidebar-menu li.menu-item.active.active-success {
    border-color: #26cb7c; }
.sidebar ul.sidebar-menu li.menu-item.active.active-warning {
    border-color: #ffd139; }
.sidebar ul.sidebar-menu li.menu-item.active.active-danger {
    border-color: #ff4642; }

.dropdown {
    z-index: 20;
    display: none;
    flex-direction: column;
    position: fixed;
    border: 1px solid #d4dadf;
    background: white; }
.dropdown .dropdown-menu {
    display: flex;
    list-style-type: none;
    flex-direction: column; }
.dropdown .dropdown-menu li.menu-divide {
    background-color: #d4dadf; }
.dropdown .dropdown-menu li.menu-item {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    transition: opacity 100ms ease-in-out; }
.dropdown .dropdown-menu li.menu-item a.item-link {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 0.875rem;
    white-space: nowrap; }
.dropdown .dropdown-menu li.menu-item.disabled {
    color: #9c9c9c; }
.dropdown .dropdown-menu li.menu-item:not(.disabled):hover {
    opacity: 0.5;
    cursor: pointer; }
.dropdown .dropdown-menu li.menu-divide {
    width: 100%;
    height: 1px;
    margin: 8px 0; }
.dropdown .dropdown-menu li.menu-item {
    height: 48px;
    padding: 0 16px; }

.input-button {
    background-color: #242a31;
    border: none;
    line-height: 26px;
    font-size: 0.875rem;
    color: white;
    transition: all 100ms ease-in-out;
    padding: 7.5px 20px;
    cursor: pointer; }
.input-button:hover {
    opacity: 0.75; }
.input-button.input-button-invert {
    background-color: white;
    color: #242a31; }
.input-button.input-button-primary {
    background-color: #3884ff; }
.input-button.input-button-secondary {
    background-color: #8e2de2; }
.input-button.input-button-success {
    background-color: #26cb7c; }
.input-button.input-button-warning {
    background-color: #ffd139; }
.input-button.input-button-danger {
    background-color: #ff4642; }
.input-button i {
    margin-left: 15px; }

.input-group {
    display: flex;
    flex-wrap: nowrap;
    width: 100%; }

.input {
    background-color: white;
    border: none;
    line-height: 26px;
    font-size: 0.875rem;
    width: 100%;
    padding: 7.5px 15px;
    color: #242a31; }
.input::placeholder {
    color: #74818d; }
.input.input-invert {
    background-color: #f5f7f9; }

.textarea {
    background-color: white;
    width: 100%;
    line-height: 26px;
    font-size: 0.875rem;
    padding: 7.5px 20px;
    border: none; }
.textarea::placeholder {
    color: #74818d; }
.textarea.textarea-invert {
    background-color: #f5f7f9; }

label.switch {
    display: inline-block;
    width: 36px;
    height: 20px;
    cursor: pointer; }
label.switch input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0; }
label.switch input[type="checkbox"]:checked + .overlay {
    border-color: #242a31; }
label.switch input[type="checkbox"]:checked + .overlay span.circle {
    background-color: #242a31;
    transform: translateX(16px); }
label.switch .overlay {
    display: flex;
    padding: 2px;
    border-radius: 14px;
    border-style: solid;
    border-width: 2px;
    border-color: #74818d;
    transition: all 150ms ease-in-out; }
label.switch .overlay span.circle {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    transition: all 150ms ease-in-out;
    transform: translateX(0px);
    background-color: #74818d; }
label.switch.switch-small {
    width: 28px;
    height: 16px; }
label.switch.switch-small input[type="checkbox"]:checked + .overlay .circle {
    transform: translateX(12px); }
label.switch.switch-small .overlay {
    border-radius: 10px; }
label.switch.switch-small .overlay span.circle {
    width: 8px;
    height: 8px; }
label.switch.switch-large {
    width: 44px;
    height: 24px; }
label.switch.switch-large input[type="checkbox"]:checked + .overlay .circle {
    transform: translateX(20px); }
label.switch.switch-large .overlay {
    border-radius: 18px; }
label.switch.switch-large .overlay span.circle {
    width: 16px;
    height: 16px; }
label.switch.switch-slim {
    width: 36px;
    height: 20px; }
label.switch.switch-slim input[type="checkbox"]:checked + .overlay span.circle {
    transform: translateX(16px); }
label.switch.switch-slim input[type="checkbox"]:checked + .overlay span.bar {
    background-color: #242a31; }
label.switch.switch-slim .overlay {
    position: relative;
    padding: 0;
    border-width: 0; }
label.switch.switch-slim .overlay span.circle {
    height: 20px;
    width: 20px; }
label.switch.switch-slim .overlay span.bar {
    position: absolute;
    background-color: #74818d;
    opacity: 0.5;
    width: 32px;
    height: 12px;
    border-radius: 12px;
    transition: all 150ms ease-in-out;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
label.switch.switch-slim.switch-small {
    width: 28px;
    height: 16px; }
label.switch.switch-slim.switch-small input[type="checkbox"]:checked + .overlay span.circle {
    transform: translateX(12px); }
label.switch.switch-slim.switch-small .overlay span.circle {
    width: 16px;
    height: 16px; }
label.switch.switch-slim.switch-small .overlay span.bar {
    height: 8px;
    width: 24px; }
label.switch.switch-slim.switch-large {
    width: 44px;
    height: 24px; }
label.switch.switch-slim.switch-large input[type="checkbox"]:checked + .overlay span.circle {
    transform: translateX(20px); }
label.switch.switch-slim.switch-large .overlay span.circle {
    width: 24px;
    height: 24px; }
label.switch.switch-slim.switch-large .overlay span.bar {
    height: 14px;
    width: 36px; }
label.switch.switch-primary input[type="checkbox"]:checked + .overlay {
    border-color: #3884ff; }
label.switch.switch-primary input[type="checkbox"]:checked + .overlay span.circle {
    background-color: #3884ff; }
label.switch.switch-primary.switch-slim input[type="checkbox"]:checked + .overlay span.bar {
    background-color: #3884ff; }
label.switch.switch-secondary input[type="checkbox"]:checked + .overlay {
    border-color: #8e2de2; }
label.switch.switch-secondary input[type="checkbox"]:checked + .overlay span.circle {
    background-color: #8e2de2; }
label.switch.switch-secondary.switch-slim input[type="checkbox"]:checked + .overlay span.bar {
    background-color: #8e2de2; }
label.switch.switch-success input[type="checkbox"]:checked + .overlay {
    border-color: #26cb7c; }
label.switch.switch-success input[type="checkbox"]:checked + .overlay span.circle {
    background-color: #26cb7c; }
label.switch.switch-success.switch-slim input[type="checkbox"]:checked + .overlay span.bar {
    background-color: #26cb7c; }
label.switch.switch-warning input[type="checkbox"]:checked + .overlay {
    border-color: #ffd139; }
label.switch.switch-warning input[type="checkbox"]:checked + .overlay span.circle {
    background-color: #ffd139; }
label.switch.switch-warning.switch-slim input[type="checkbox"]:checked + .overlay span.bar {
    background-color: #ffd139; }
label.switch.switch-danger input[type="checkbox"]:checked + .overlay {
    border-color: #ff4642; }
label.switch.switch-danger input[type="checkbox"]:checked + .overlay span.circle {
    background-color: #ff4642; }
label.switch.switch-danger.switch-slim input[type="checkbox"]:checked + .overlay span.bar {
    background-color: #ff4642; }

label.radio {
    display: block;
    position: relative;
    color: #242a31;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 20px;
    padding-left: 36px;
    cursor: pointer; }
label.radio input[type="radio"] {
    opacity: 0;
    width: 0;
    height: 0; }
label.radio input[type="radio"]:checked + .overlay {
    border-color: #242a31; }
label.radio input[type="radio"]:checked + .overlay span.circle {
    background-color: #242a31; }
label.radio .overlay {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    padding: 2px;
    border-radius: 14px;
    border-style: solid;
    border-width: 2px;
    border-color: #74818d;
    transition: all 150ms ease-in-out; }
label.radio .overlay span.circle {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    transition: all 150ms ease-in-out; }
label.radio.radio-primary input[type="radio"]:checked + .overlay {
    border-color: #3884ff; }
label.radio.radio-primary input[type="radio"]:checked + .overlay span.circle {
    background-color: #3884ff; }
label.radio.radio-secondary input[type="radio"]:checked + .overlay {
    border-color: #8e2de2; }
label.radio.radio-secondary input[type="radio"]:checked + .overlay span.circle {
    background-color: #8e2de2; }
label.radio.radio-success input[type="radio"]:checked + .overlay {
    border-color: #26cb7c; }
label.radio.radio-success input[type="radio"]:checked + .overlay span.circle {
    background-color: #26cb7c; }
label.radio.radio-warning input[type="radio"]:checked + .overlay {
    border-color: #ffd139; }
label.radio.radio-warning input[type="radio"]:checked + .overlay span.circle {
    background-color: #ffd139; }
label.radio.radio-danger input[type="radio"]:checked + .overlay {
    border-color: #ff4642; }
label.radio.radio-danger input[type="radio"]:checked + .overlay span.circle {
    background-color: #ff4642; }

label.checkbox {
    display: block;
    position: relative;
    color: #242a31;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 20px;
    padding-left: 36px;
    cursor: pointer; }
label.checkbox input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0; }
label.checkbox input[type="checkbox"]:checked + .overlay {
    border-color: #242a31; }
label.checkbox input[type="checkbox"]:checked + .overlay span.square {
    background-color: #242a31; }
label.checkbox .overlay {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    padding: 2px;
    border-style: solid;
    border-width: 2px;
    border-color: #74818d;
    transition: all 150ms ease-in-out; }
label.checkbox .overlay span.square {
    height: 12px;
    width: 12px;
    transition: all 150ms ease-in-out; }
label.checkbox.checkbox-primary input[type="checkbox"]:checked + .overlay {
    border-color: #3884ff; }
label.checkbox.checkbox-primary input[type="checkbox"]:checked + .overlay span.square {
    background-color: #3884ff; }
label.checkbox.checkbox-secondary input[type="checkbox"]:checked + .overlay {
    border-color: #8e2de2; }
label.checkbox.checkbox-secondary input[type="checkbox"]:checked + .overlay span.square {
    background-color: #8e2de2; }
label.checkbox.checkbox-success input[type="checkbox"]:checked + .overlay {
    border-color: #26cb7c; }
label.checkbox.checkbox-success input[type="checkbox"]:checked + .overlay span.square {
    background-color: #26cb7c; }
label.checkbox.checkbox-warning input[type="checkbox"]:checked + .overlay {
    border-color: #ffd139; }
label.checkbox.checkbox-warning input[type="checkbox"]:checked + .overlay span.square {
    background-color: #ffd139; }
label.checkbox.checkbox-danger input[type="checkbox"]:checked + .overlay {
    border-color: #ff4642; }
label.checkbox.checkbox-danger input[type="checkbox"]:checked + .overlay span.square {
    background-color: #ff4642; }

.panel {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    background-color: white;
    padding: 18px 24px; }
.panel .icon {
    padding: 18px 24px;
    background-color: #242a31;
    color: white;
    font-size: 1.425rem;
    line-height: 1.425rem;
    font-weight: 700; }
.panel .information {
    text-align: right;
    flex-grow: 1; }
.panel .information h3.value {
    font-size: 1.15rem;
    line-height: 1.15rem;
    font-weight: 700;
    margin-bottom: 8px; }
.panel .information p.description {
    color: #74818d;
    font-size: 0.875rem;
    line-height: 0.875rem;
    font-weight: 300; }
.panel.panel-hover:hover {
    cursor: pointer; }
.panel.panel-hover:hover .information h3.value {
    opacity: 0.5; }
.panel.panel-hover .information h3.value {
    transition: all 100ms ease-in-out; }
.panel.panel-primary.panel-hover:hover .information h3.value {
    color: #3884ff;
    opacity: 1; }
.panel.panel-primary .icon {
    background-color: #3884ff; }
.panel.panel-secondary.panel-hover:hover .information h3.value {
    color: #8e2de2;
    opacity: 1; }
.panel.panel-secondary .icon {
    background-color: #8e2de2; }
.panel.panel-success.panel-hover:hover .information h3.value {
    color: #26cb7c;
    opacity: 1; }
.panel.panel-success .icon {
    background-color: #26cb7c; }
.panel.panel-warning.panel-hover:hover .information h3.value {
    color: #ffd139;
    opacity: 1; }
.panel.panel-warning .icon {
    background-color: #ffd139; }
.panel.panel-danger.panel-hover:hover .information h3.value {
    color: #ff4642;
    opacity: 1; }
.panel.panel-danger .icon {
    background-color: #ff4642; }

.label {
    padding: 5px 10px;
    background-color: #242a31;
    color: white; }
.label.label-primary {
    background-color: #3884ff; }
.label.label-secondary {
    background-color: #8e2de2; }
.label.label-success {
    background-color: #26cb7c; }
.label.label-warning {
    background-color: #ffd139; }
.label.label-danger {
    background-color: #ff4642; }
.label.label-round {
    border-radius: 1em; }
.label.label-small {
    padding: 2px 6px; }

.table {
    margin: 0 -30px;
    background-color: #FFFFFF;
    border-collapse: collapse;
    width: calc(100% + 60px); }
.table tr:not(:last-child) {
    border-bottom: 1px solid #D4DADF; }
.table thead {
    border-bottom: 1px solid #D4DADF; }
.table td {
    padding: 20px 25px; }
.table th {
    padding: 10px 25px;
    text-align: left; }

a {
    text-decoration: none;
    color: inherit; }

body {
    font-family: "Poppins", sans-serif;
    color: #242a31;
    background-color: #f5f7f9; }

small {
    color: #74818d; }

blockquote {
    border-left: 4px solid #242a31;
    padding: 15px 0 15px 15px;
    margin: 15px 0; }

mark {
    background-color: #ffd139; }

code {
    font-family: "Roboto Mono", monospace; }

kbd {
    font-family: "Roboto Mono", monospace;
    white-space: nowrap;
    background-color: #f5f7f9;
    border-style: solid;
    border-width: 1px 1px 3px 1px;
    border-color: #d4dadf;
    padding: 0 5px; }

abbr[title] {
    text-underline-position: under;
    text-decoration: underline dashed; }

pre {
    font-family: "Roboto Mono", monospace; }

ol {
    list-style-position: inside; }

ul {
    list-style-position: inside; }

.raised {
    box-shadow: 0 4px 8px 0 #e6ecf1; }
.raised-invert {
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15); }

.raised-hover {
    transition: all 100ms ease-in-out; }
.raised-hover:hover {
    box-shadow: 0 3px 8px 0 #e6ecf1;
    transform: translateY(-1px); }
.raised-hover-invert:hover {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.25); }

body.dark .raised {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1); }
body.dark .raised-invert {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.3); }
body.dark .raised-hover:hover {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1); }
body.dark .raised-hover-invert:hover {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.3); }

.rounded {
    border-radius: 5px !important;
    overflow: hidden; }

.text-muted {
    color: #74818d !important; }

.text-primary {
    color: #3884ff !important; }

.text-secondary {
    color: #8e2de2 !important; }

.text-success {
    color: #26cb7c !important; }

.text-warning {
    color: #ffd139 !important; }

.text-danger {
    color: #ff4642 !important; }

.mb-6 {
    margin-bottom: 4.5rem; }

.mr-6 {
    margin-right: 4.5rem; }

.ml-6 {
    margin-left: 4.5rem; }

.mt-6 {
    margin-top: 4.5rem; }

.mx-6 {
    margin-right: 4.5rem;
    margin-left: 4.5rem; }

.my-6 {
    margin-top: 4.5rem;
    margin-bottom: 4.5rem; }

.m-6 {
    margin-top: 4.5rem;
    margin-bottom: 4.5rem;
    margin-right: 4.5rem;
    margin-left: 4.5rem; }

.pb-6 {
    padding-bottom: 4.5rem; }

.pr-6 {
    padding-right: 4.5rem; }

.pl-6 {
    padding-left: 4.5rem; }

.pt-6 {
    padding-top: 4.5rem; }

.px-6 {
    padding-right: 4.5rem;
    padding-left: 4.5rem; }

.py-6 {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem; }

.p-6 {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
    padding-right: 4.5rem;
    padding-left: 4.5rem; }

.mb-7 {
    margin-bottom: 6rem; }

.mr-7 {
    margin-right: 6rem; }

.ml-7 {
    margin-left: 6rem; }

.mt-7 {
    margin-top: 6rem; }

.mx-7 {
    margin-right: 6rem;
    margin-left: 6rem; }

.my-7 {
    margin-top: 6rem;
    margin-bottom: 6rem; }

.m-7 {
    margin-top: 6rem;
    margin-bottom: 6rem;
    margin-right: 6rem;
    margin-left: 6rem; }

.pb-7 {
    padding-bottom: 6rem; }

.pr-7 {
    padding-right: 6rem; }

.pl-7 {
    padding-left: 6rem; }

.pt-7 {
    padding-top: 6rem; }

.px-7 {
    padding-right: 6rem;
    padding-left: 6rem; }

.py-7 {
    padding-top: 6rem;
    padding-bottom: 6rem; }

.p-7 {
    padding-top: 6rem;
    padding-bottom: 6rem;
    padding-right: 6rem;
    padding-left: 6rem; }

.mb-8 {
    margin-bottom: 7.5rem; }

.mr-8 {
    margin-right: 7.5rem; }

.ml-8 {
    margin-left: 7.5rem; }

.mt-8 {
    margin-top: 7.5rem; }

.mx-8 {
    margin-right: 7.5rem;
    margin-left: 7.5rem; }

.my-8 {
    margin-top: 7.5rem;
    margin-bottom: 7.5rem; }

.m-8 {
    margin-top: 7.5rem;
    margin-bottom: 7.5rem;
    margin-right: 7.5rem;
    margin-left: 7.5rem; }

.pb-8 {
    padding-bottom: 7.5rem; }

.pr-8 {
    padding-right: 7.5rem; }

.pl-8 {
    padding-left: 7.5rem; }

.pt-8 {
    padding-top: 7.5rem; }

.px-8 {
    padding-right: 7.5rem;
    padding-left: 7.5rem; }

.py-8 {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem; }

.p-8 {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
    padding-right: 7.5rem;
    padding-left: 7.5rem; }

.mb-9 {
    margin-bottom: 9rem; }

.mr-9 {
    margin-right: 9rem; }

.ml-9 {
    margin-left: 9rem; }

.mt-9 {
    margin-top: 9rem; }

.mx-9 {
    margin-right: 9rem;
    margin-left: 9rem; }

.my-9 {
    margin-top: 9rem;
    margin-bottom: 9rem; }

.m-9 {
    margin-top: 9rem;
    margin-bottom: 9rem;
    margin-right: 9rem;
    margin-left: 9rem; }

.pb-9 {
    padding-bottom: 9rem; }

.pr-9 {
    padding-right: 9rem; }

.pl-9 {
    padding-left: 9rem; }

.pt-9 {
    padding-top: 9rem; }

.px-9 {
    padding-right: 9rem;
    padding-left: 9rem; }

.py-9 {
    padding-top: 9rem;
    padding-bottom: 9rem; }

.p-9 {
    padding-top: 9rem;
    padding-bottom: 9rem;
    padding-right: 9rem;
    padding-left: 9rem; }

.mb-10 {
    margin-bottom: 10.5rem; }

.mr-10 {
    margin-right: 10.5rem; }

.ml-10 {
    margin-left: 10.5rem; }

.mt-10 {
    margin-top: 10.5rem; }

.mx-10 {
    margin-right: 10.5rem;
    margin-left: 10.5rem; }

.my-10 {
    margin-top: 10.5rem;
    margin-bottom: 10.5rem; }

.m-10 {
    margin-top: 10.5rem;
    margin-bottom: 10.5rem;
    margin-right: 10.5rem;
    margin-left: 10.5rem; }

.pb-10 {
    padding-bottom: 10.5rem; }

.pr-10 {
    padding-right: 10.5rem; }

.pl-10 {
    padding-left: 10.5rem; }

.pt-10 {
    padding-top: 10.5rem; }

.px-10 {
    padding-right: 10.5rem;
    padding-left: 10.5rem; }

.py-10 {
    padding-top: 10.5rem;
    padding-bottom: 10.5rem; }

.p-10 {
    padding-top: 10.5rem;
    padding-bottom: 10.5rem;
    padding-right: 10.5rem;
    padding-left: 10.5rem; }

.container-fluid {
    padding-right: 16px;
    padding-left: 16px; }

.container {
    padding-right: 16px;
    padding-left: 16px; }

.row:not(.no-gutters) {
    margin-right: -16px;
    margin-left: -16px; }
.row:not(.no-gutters).row-small {
    margin-right: -8px;
    margin-left: -8px; }
.row:not(.no-gutters).row-small > .col, .row:not(.no-gutters).row-small > [class*=col-] {
    padding-right: 8px;
    padding-left: 8px; }

.col, [class*=col-] {
    padding-right: 16px;
    padding-left: 16px; }

.justify-content-evenly {
    justify-content: space-evenly !important; }

p, h2, h3, h1, h4, h5, h6, pre, ul, ol, body {
    margin: 0;
    padding: 0; }

.material-icons, [class*=material-icons-] {
    vertical-align: middle; }

/*# sourceMappingURL=global.css.map */
